<h2 id="title">ember-showdown demo</h2>

<label for="markdown">Markdown:</label>
<Textarea @value={{this.editableText}} id="markdown" />

Rendered:
<MarkdownToHtml @markdown={{this.editableText}} />

<MarkdownToHtml @markdown='#Markdown is cool [link](https://google.com)' />

{{outlet}}
